<p>user-details works!</p>

<div class="alert alert-dark">
    <p class="alert alert-danger border border-2 border border-dark rounded-bottom">ID : {{user.id}}</p>
    <p class="alert alert-danger border border-2 border border-dark rounded-bottom">Name : {{user.name}}</p>
    <p class="alert alert-danger border border-2 border border-dark rounded-bottom">UserName : {{user.username}}</p>
    <p class="alert alert-danger border border-2 border border-dark rounded-bottom">City : {{user.address.city}}</p>
    <p class="alert alert-danger border border-2 border border-dark rounded-bottom">Suite : {{user.address.suite}}</p>
    <p class="alert alert-danger border border-2 border border-dark rounded-bottom">Email : {{user.email}}</p>
</div>
